.hero-image {
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
}

.contact-img {
  background: url('src/assets/images/myImage.webp');
  background-size: cover;
}

.hero-img {
  background: url('src/assets/images/myImage.webp');
  background-size: cover;
}